Repository ovdlinden/collect-ts: changes, and which lefthook commands are due for each by the changed paths.
All: check, docs-package-name

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

docs-package-name:
  run: "if [ -n \"{staged_files}\" ] && grep -q 'laravel-collection-ts' {staged_files}; then\n  echo \"Error: Use 'collect-ts' not 'laravel-collection-ts' in docs\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

chore: remove obsolete publish and changelog workflows
  .github/workflows/changelog.yml
  .github/workflows/publish.yml
  cliff.toml
Due: none

fix(release): use SSH deploy key to bypass branch protection
  .github/workflows/release.yml
Due: none

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  jsr.json
  package.json
  src/index.ts
Due: check

Notes added by 'git notes add'
  6378ee6633b28086932ae2afd00ee61aa611754b
Due: none

fix: update config and code for Biome v2 compatibility
  biome.json
  src/Collection.ts
  src/LazyCollection.ts
  src/index.ts
  tests/Collection.test.ts
  tests/LazyCollection.test.ts
  tests/scripts/docs-check.integration.test.ts
Due: check

feat!: inline array optimizations into Collection
  benchmarks/beat-native.bench.ts
  benchmarks/callback-tax.bench.ts
  benchmarks/collect-vs-native.bench.ts
  benchmarks/collection.bench.ts
  benchmarks/comparison.bench.ts
  benchmarks/lazy.bench.ts
  benchmarks/why-faster.bench.ts
  src/Collection.ts
  src/LazyCollection.ts
  src/arrayUtils.ts
  src/exceptions/InvalidArgumentException.ts
  src/exceptions/ItemNotFoundException.ts
  src/exceptions/MultipleItemsFoundException.ts
  src/exceptions/UnexpectedValueException.ts
  src/index.ts
  src/traits/Conditionable.ts
  src/traits/Pipeable.ts
  src/traits/Tappable.ts
  src/traits/index.ts
  tests/Collection.shared.test.ts
  tests/Collection.test.ts
  tests/LazyCollection.test.ts
  tests/arrayUtils.test.ts
  tests/shared/collection-behavior.ts
Due: check

chore: modernize project infrastructure
  .editorconfig
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/laravel-sync.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .gitignore
  .nvmrc
  .releaserc.json
  .size-limit.json
  CODE_OF_CONDUCT.md
  SECURITY.md
  biome.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Due: none

ci: add automated benchmark tracking
  .github/workflows/benchmark.yml
  .github/workflows/docs.yml
  package.json
  scripts/benchmark-ci.ts
Due: check

test: add dedicated tests for arrayUtils helpers
  tests/arrayUtils.test.ts
Due: check

fix: resolve TypeScript errors and drop Node 20 from CI
  .github/workflows/ci.yml
  tests/Collection.test.ts
Due: check

test: add arrayGroupByKey tests for 100% coverage
  tests/arrayUtils.test.ts
Due: check

fix: resolve knip unused export and dependencies
  knip.config.ts
  src/Collection.ts
Due: check

fix: remove invalid --ci flag from size-limit script
  package.json
Due: none

test: add coverage for asyncLazy edge cases
  tests/LazyCollection.test.ts
Due: check

chore: update base path for collect-ts.dev custom domain
  docs/.vitepress/config.ts
Due: check

fix: align code block output with code content
  docs/.vitepress/theme/style.css
Due: none

docs: add inline output markers to quickstart and patterns
  docs/00-quickstart.md
  docs/02-patterns.md
Due: none

docs: use code-group tabs for lodash vs collect-ts comparison
  docs/for/lodash-users.md
Due: docs-package-name

docs: comprehensively rewrite lodash migration guide
  docs/for/lodash-users.md
Due: docs-package-name

style: break long chain onto multiple lines for readability
  docs/for/lodash-users.md
Due: docs-package-name

style: break long method chains onto multiple lines
  docs/for/javascript-developers.md
  docs/for/lodash-users.md
Due: docs-package-name

style: expand all method chains to multiple lines
  docs/for/lodash-users.md
Due: docs-package-name

style: full documentation code style sweep
  docs/01-typescript.md
  docs/02-patterns.md
  docs/collections.md
  docs/for/javascript-developers.md
  docs/index.md
Due: docs-package-name

chore: downgrade TypeScript to v6 for TypeDoc compatibility
  bun.lock
  package.json
Due: none

feat: add TypeDoc for API reference generation
  .gitignore
  bun.lock
  docs/.vitepress/config.ts
  docs/collections.md
  docs/scripts/lint-docs.ts
  package.json
  typedoc.json
Due: check

feat: enrich JSDoc for core Collection methods
  src/Collection.ts
Due: check

feat: enrich JSDoc for where* family and grouping methods
  src/Collection.ts
Due: check

feat: add auto-generated collection guides with output highlighting
  benchmarks/async-lazy.bench.ts
  benchmarks/lazy.bench.ts
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/markdown-output-preprocess.ts
  docs/.vitepress/plugins/markdown-output.ts
  docs/.vitepress/plugins/shiki-output.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/00-quickstart.md
  docs/01-typescript.md
  docs/02-patterns.md
  docs/03-lazy.md
  docs/05-benchmarks.md
  docs/collections.md
  docs/collections/aggregating.md
  docs/collections/checking.md
  docs/collections/combining.md
  docs/collections/creating.md
  docs/collections/filtering.md
  docs/collections/finding.md
  docs/collections/grouping.md
  docs/collections/index.md
  docs/collections/sorting.md
  docs/collections/transforming.md
  docs/for/javascript-developers.md
  docs/for/laravel-developers.md
  docs/for/lodash-users.md
  docs/index.md
  docs/test-output.md
  package.json
  scripts/benchmark-ci.ts
  scripts/generate-collection-guides.ts
  src/Collection.ts
  src/LazyCollection.ts
  src/index.ts
  tests/LazyCollection.test.ts
Due: check, docs-package-name

docs: improve visual emphasis and conversational tone
  docs/.vitepress/theme/style.css
  docs/collections/aggregating.md
  docs/collections/checking.md
  docs/collections/combining.md
  docs/collections/creating.md
  docs/collections/filtering.md
  docs/collections/finding.md
  docs/collections/grouping.md
  docs/collections/sorting.md
  docs/collections/transforming.md
  scripts/generate-collection-guides.ts
  src/Collection.ts
Due: check, docs-package-name

dx: polish developer experience
  docs/.vitepress/config.ts
  docs/00-quickstart.md
  src/Collection.ts
  src/exceptions/InvalidArgumentException.ts
  src/exceptions/ItemNotFoundException.ts
  src/exceptions/MultipleItemsFoundException.ts
  src/index.ts
  src/version.ts
Due: check

docs: add API to top nav, rename Type Signatures to API Reference
  docs/.vitepress/config.ts
Due: check

docs: consolidate sidebar - merge Start Here into Getting Started
  docs/.vitepress/config.ts
Due: check

docs: reorganize sidebar - Coming From collapsed, rename Guides to By Category
  docs/.vitepress/config.ts
Due: check

docs: remove TypeDoc API Reference, simplify sidebar
  bun.lock
  docs/.vitepress/config.ts
  docs/00-quickstart.md
  docs/03-lazy.md
  docs/05-benchmarks.md
  docs/for/laravel-developers.md
  docs/for/lodash-users.md
  docs/index.md
  package.json
  pnpm-lock.yaml
  typedoc.json
Due: check, docs-package-name

perf: optimize LazyCollection - eliminate tuple allocation overhead
  benchmarks/lazy.bench.ts
  docs/.vitepress/theme/components/Benchmarks.vue
  docs/.vitepress/theme/data/benchmark-results.json
  docs/scripts/generate-benchmark-data.ts
  src/LazyCollection.ts
Due: check

style: align lazy benchmarks with eager section styling
  docs/.vitepress/theme/components/Benchmarks.vue
Due: none

docs: redesign homepage with show-don't-tell approach
  docs/index.md
Due: none

Path conditions:
  check: any of: **/*.{js,ts,jsx,tsx,json}
  docs-package-name: any of: docs/**/*.md
