Repository ovdlinden/collect-ts: changes, and which lefthook commands are due for each by the changed paths.
All: check, docs-package-name

check:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase

docs-package-name:
  run: "if [ -n \"{staged_files}\" ] && grep -q 'laravel-collection-ts' {staged_files}; then\n  echo \"Error: Use 'collect-ts' not 'laravel-collection-ts' in docs\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

feat(docs): migrate Benchmarks to Tailwind utilities
  docs/.vitepress/theme/components/Benchmarks.vue
Due: none

fix(docs): remove duplicate GitHub nav link
  docs/.vitepress/config.ts
Due: check

fix(docs): add display block to code block lines
  docs/.vitepress/theme/styles/docs.css
Due: none

fix(docs): override Tailwind preflight for code block margins
  docs/.vitepress/theme/styles/docs.css
Due: none

docs: improve writing clarity and regenerate guides
  docs/.vitepress/config.ts
  docs/.vitepress/theme/data/methods.json
  docs/.vitepress/theme/data/search-index.json
  docs/00-quickstart.md
  docs/collections/aggregating.md
  docs/collections/checking.md
  docs/collections/combining.md
  docs/collections/creating.md
  docs/collections/extending.md
  docs/collections/filtering.md
  docs/collections/finding.md
  docs/collections/grouping.md
  docs/collections/index.md
  docs/collections/sorting.md
  docs/collections/transforming.md
  scripts/generate-collection-guides.ts
  src/Collection.ts
  src/methods/all.ts
  src/methods/get.ts
Due: check, docs-package-name

chore: sync lockfile with package.json
  pnpm-lock.yaml
Due: none

feat(docs): add interactive playground
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/Playground/Playground.vue
  docs/.vitepress/theme/components/Playground/examples.ts
  docs/playground.md
  package.json
  pnpm-lock.yaml
Due: check

fix(playground): use monaco-editor/loader for proper initialization
  docs/.vitepress/theme/components/Playground/Playground.vue
Due: none

feat(playground): add TypeScript IntelliSense and Monaco editor integration
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/Playground/Playground.vue
  docs/.vitepress/theme/components/Playground/collectTypes.ts
  docs/.vitepress/theme/components/Playground/examples.ts
  docs/playground.md
  package.json
  pnpm-lock.yaml
Due: check

feat(docs): improve code blocks, bundle sizes, and playground
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/shiki-output.ts
  docs/.vitepress/theme/components/BundleSizeInline.vue
  docs/.vitepress/theme/components/BundleSizeTable.vue
  docs/.vitepress/theme/components/Playground/CardFlowView.vue
  docs/.vitepress/theme/components/Playground/ItemCard.vue
  docs/.vitepress/theme/components/Playground/MatrixCell.vue
  docs/.vitepress/theme/components/Playground/MatrixView.vue
  docs/.vitepress/theme/components/Playground/PipelineStep.vue
  docs/.vitepress/theme/components/Playground/PipelineVisualizer.vue
  docs/.vitepress/theme/components/Playground/Playground.vue
  docs/.vitepress/theme/components/Playground/StageColumn.vue
  docs/.vitepress/theme/components/Playground/StepScrubber.vue
  docs/.vitepress/theme/components/Playground/examples.ts
  docs/.vitepress/theme/components/Playground/instrumentedCollect.ts
  docs/.vitepress/theme/components/PluginSpotlight.vue
  docs/.vitepress/theme/data/bundle-sizes.json
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles/docs.css
  docs/00-quickstart.md
  docs/collections/aggregating.md
  docs/collections/checking.md
  docs/collections/combining.md
  docs/collections/filtering.md
  docs/collections/finding.md
  docs/collections/grouping.md
  docs/collections/sorting.md
  docs/collections/transforming.md
  docs/guide/tree-shaking.md
  docs/playground.md
  package.json
  scripts/calculate-bundle-sizes.ts
  scripts/generate-collection-guides.ts
Due: check, docs-package-name

chore: housekeeping cleanup for v0.5.0 release
  .github/workflows/benchmark.yml
  docs/.vitepress/plugins/markdown-output-preprocess.ts
  docs/.vitepress/theme/components/InstallSnippet.vue
  docs/collections/aggregating.md
  docs/collections/checking.md
  docs/collections/combining.md
  docs/collections/filtering.md
  docs/collections/finding.md
  docs/collections/grouping.md
  docs/collections/index.md
  docs/collections/sorting.md
  docs/collections/transforming.md
  docs/for/laravel-developers.md
  docs/test-output.md
  knip.config.ts
Due: check, docs-package-name

refactor(playground): remove flow and pipeline visualizations
  .gitignore
  docs/.vitepress/theme/components/Playground/CardFlowView.vue
  docs/.vitepress/theme/components/Playground/ItemCard.vue
  docs/.vitepress/theme/components/Playground/MatrixCell.vue
  docs/.vitepress/theme/components/Playground/MatrixView.vue
  docs/.vitepress/theme/components/Playground/PipelineStep.vue
  docs/.vitepress/theme/components/Playground/PipelineVisualizer.vue
  docs/.vitepress/theme/components/Playground/Playground.vue
  docs/.vitepress/theme/components/Playground/StageColumn.vue
  docs/.vitepress/theme/components/Playground/StepScrubber.vue
  docs/.vitepress/theme/components/Playground/instrumentedCollect.ts
Due: check

fix(playground): use eval for natural REPL-like execution
  docs/.vitepress/theme/components/Playground/Playground.vue
Due: none

feat(playground): REPL behavior, resizable panels, and UI cleanup
  docs/.vitepress/theme/components/Playground/Playground.vue
  docs/.vitepress/theme/components/Playground/examples.ts
  package.json
  pnpm-lock.yaml
Due: check

fix(docs): add vite alias for collect-ts to fix Cloudflare build
  docs/.vitepress/config.ts
Due: check

fix(docs): build library before docs to ensure dist exists
  package.json
Due: none

chore: trigger cloudflare rebuild
  .cloudflare-rebuild
Due: none

fix(docs): allow output comments in code fences
  docs/scripts/lint-docs.ts
Due: check

fix(ci): add bun setup to preview workflow
  .github/workflows/preview.yml
Due: none

fix(ci): run CI on release branches
  .github/workflows/ci.yml
Due: none

fix(ci): add bun setup to CI workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  check: any of: **/*.{js,ts,jsx,tsx,json}
  docs-package-name: any of: docs/**/*.md
