Repository ovdlinden/collect-ts: changes, and which lefthook commands are due for each by the changed paths.
All: check, docs-package-name

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "**/*.{js,ts,jsx,tsx,json}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
      skip:
        - merge
        - rebase
    version-sync:
      run: |
        VERSION=$(node -e "console.log(require('./package.json').version)")
        if ! grep -q "\"version\": \"$VERSION\"" jsr.json; then
          echo "Error: jsr.json version does not match package.json ($VERSION)"
          exit 1
        fi
        if ! grep -q "VERSION = '$VERSION'" src/index.ts; then
          echo "Error: src/index.ts VERSION does not match package.json ($VERSION)"
          exit 1
        fi
      skip:
        - merge
        - rebase
    docs-package-name:
      glob: "docs/**/*.md"
      run: |
        if [ -n "{staged_files}" ] && grep -q 'laravel-collection-ts' {staged_files}; then
          echo "Error: Use 'collect-ts' not 'laravel-collection-ts' in docs"
          exit 1
        fi
      skip:
        - merge
        - rebase

pre-push:
  commands:
    test:
      run: pnpm test

perf(docs): optimize load time with system fonts and lazy components
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
Due: check

perf(docs): remove D2 and optimize search
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/markdown-d2.ts
  docs/.vitepress/theme/components/D2Diagram.vue
  docs/.vitepress/theme/index.ts
Due: check

feat(docs): add FastSearch powered by collect-ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/FastSearch.vue
  docs/.vitepress/theme/data/search-index.json
  docs/.vitepress/theme/index.ts
  package.json
  scripts/generate-search-index.ts
Due: check

fix(docs): use SearchProvider component to fix hydration issue
  docs/.vitepress/theme/components/SearchProvider.vue
  docs/.vitepress/theme/index.ts
Due: check

fix(docs): move results computed before watch that uses it
  docs/.vitepress/theme/components/FastSearch.vue
Due: none

fix(docs): correct heading hierarchy in search index generator
  docs/.vitepress/theme/data/search-index.json
  scripts/generate-search-index.ts
Due: check

feat(docs): limit search to collection methods only
  docs/.vitepress/theme/data/search-index.json
  scripts/generate-search-index.ts
Due: check

fix(docs): search only matches method names, not descriptions
  docs/.vitepress/theme/components/FastSearch.vue
Due: none

feat(docs): keep last search, add 'search descriptions' fallback
  docs/.vitepress/theme/components/FastSearch.vue
Due: none

feat(docs): add search mode toggle, show clean snippets in full-text mode
  docs/.vitepress/theme/components/FastSearch.vue
  docs/.vitepress/theme/data/search-index.json
  scripts/generate-search-index.ts
Due: check

feat(docs): upgrade search to MiniSearch with fuzzy matching and signatures
  docs/.vitepress/theme/components/FastSearch.vue
  docs/.vitepress/theme/data/search-index.json
  package.json
  pnpm-lock.yaml
  scripts/generate-search-index.ts
Due: check

refactor(docs): use native <dialog> for search modal
  docs/.vitepress/theme/components/FastSearch.vue
Due: none

feat(docs): add method aliases for semantic search
  docs/.vitepress/theme/components/FastSearch.vue
  docs/.vitepress/theme/data/search-index.json
  scripts/generate-search-index.ts
Due: check

style: fix lint export organization
  src/index.ts
Due: check

fix: use bracket-depth parsing instead of fragile regex
  docs/.vitepress/theme/data/search-index.json
  knip.config.ts
  scripts/generate-search-index.ts
Due: check

feat: add zero-allocation static utilities and lazy demo components
  benchmarks/lazy.bench.ts
  docs/.vitepress/theme/components/Benchmarks.vue
  docs/.vitepress/theme/components/CallbackTaxDiagram.vue
  docs/.vitepress/theme/components/HomepageLazyDemo.vue
  docs/.vitepress/theme/components/LazySpotlight.vue
  docs/.vitepress/theme/components/SpeedupBar.vue
  docs/.vitepress/theme/components/StatCard.vue
  docs/.vitepress/theme/data/benchmark-results.json
  docs/05-benchmarks.md
  docs/collections/finding.md
  docs/index.md
  src/Collection.ts
  src/LazyCollection.ts
Due: check, docs-package-name

refactor(scripts): extract method signatures for search index
  scripts/generate-collection-guides.ts
Due: check

refactor(scripts): simplify search index to use methods.json
  scripts/generate-search-index.ts
Due: check

chore(docs): add generated methods.json for search index
  docs/.vitepress/theme/data/methods.json
Due: check

fix: use Object.hasOwn for METHOD_ALIASES lookup
  docs/.vitepress/theme/data/search-index.json
  scripts/generate-search-index.ts
Due: check

feat(docs): add search button to nav bar
  benchmarks/lazy.bench.ts
  docs/.vitepress/theme/components/SearchButton.vue
  docs/.vitepress/theme/components/SearchProvider.vue
  docs/.vitepress/theme/index.ts
Due: check

perf: optimize collection performance and stabilize benchmarks
  .github/workflows/benchmark.yml
  benchmarks/async-lazy.bench.ts
  benchmarks/beat-native.bench.ts
  benchmarks/bench-options.ts
  benchmarks/callback-tax.bench.ts
  benchmarks/collect-vs-native.bench.ts
  benchmarks/collection.bench.ts
  benchmarks/comparison.bench.ts
  benchmarks/lazy.bench.ts
  benchmarks/setup.ts
  benchmarks/static-helpers.bench.ts
  benchmarks/why-faster.bench.ts
  docs/.vitepress/theme/data/benchmark-results.json
  lefthook.yml
  package.json
  scripts/check-benchmark-freshness.ts
  src/Collection.ts
  src/arrayUtils.ts
  vitest.config.ts
Due: check

feat: add modular core for tree-shakeable imports
  package.json
  src/core/Collection.ts
  src/core/createCollection.ts
  src/core/index.ts
  src/core/pipeline.ts
  src/core/types.ts
  src/core/utils.ts
  src/fn/index.ts
  src/methods/each.ts
  src/methods/filter.ts
  src/methods/first.ts
  src/methods/groupBy.ts
  src/methods/index.ts
  src/methods/map.ts
  src/methods/reduce.ts
  src/methods/tap.ts
  tests/core.test.ts
  tsup.config.ts
Due: check

feat(methods): extract 20 additional methods for tree-shaking
  src/fn/index.ts
  src/methods/avg.ts
  src/methods/chunk.ts
  src/methods/contains.ts
  src/methods/every.ts
  src/methods/flatMap.ts
  src/methods/index.ts
  src/methods/keyBy.ts
  src/methods/last.ts
  src/methods/max.ts
  src/methods/min.ts
  src/methods/partition.ts
  src/methods/pluck.ts
  src/methods/reject.ts
  src/methods/skip.ts
  src/methods/some.ts
  src/methods/sortBy.ts
  src/methods/sum.ts
  src/methods/take.ts
  src/methods/unique.ts
  tsup.config.ts
Due: check

feat(methods): extract 18 more methods for tree-shaking
  src/fn/index.ts
  src/methods/collapse.ts
  src/methods/concat.ts
  src/methods/count.ts
  src/methods/except.ts
  src/methods/flatten.ts
  src/methods/flip.ts
  src/methods/index.ts
  src/methods/join.ts
  src/methods/keys.ts
  src/methods/merge.ts
  src/methods/only.ts
  src/methods/reverse.ts
  src/methods/shuffle.ts
  src/methods/slice.ts
  src/methods/values.ts
  src/methods/where.ts
  src/methods/whereIn.ts
  tsup.config.ts
Due: check

feat(plugin): add bundler plugin for automatic tree-shaking
  package.json
  src/plugin/index.ts
  src/plugin/transform.ts
  src/plugin/webpack-loader.ts
  tests/plugin.test.ts
  tsup.config.ts
Due: check

docs: add tree-shaking guide and update README
  README.md
  docs/guide/tree-shaking.md
Due: docs-package-name

fix(plugin): replace regex with AST-based method detection
  bun.lock
  package.json
  src/plugin/transform.ts
  tests/plugin.test.ts
Due: check

fix(bench): use 100K items in lazy-pipeline to prevent tinybench overflow
  benchmarks/lazy-pipeline.bench.ts
  lefthook.yml
Due: check

fix(docs): simplify search UX and improve styling
  docs/.vitepress/theme/components/FastSearch.vue
  docs/.vitepress/theme/components/SearchButton.vue
  docs/.vitepress/theme/style.css
Due: none

feat(core): add deferred pipeline execution for chained operations
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/BenchmarkSpeedup.vue
  docs/.vitepress/theme/data/benchmark-results.json
  docs/.vitepress/theme/index.ts
  docs/index.md
  docs/scripts/generate-benchmark-data.ts
  src/Collection.ts
  src/arrayUtils.ts
  tests/pipeline.test.ts
Due: check

docs: improve writing clarity and tone
  README.md
  docs/collections/aggregating.md
  docs/collections/checking.md
  docs/collections/combining.md
  docs/collections/creating.md
  docs/collections/filtering.md
  docs/collections/finding.md
  docs/collections/grouping.md
  docs/collections/sorting.md
  docs/collections/transforming.md
  docs/for/laravel-developers.md
  docs/guide/tree-shaking.md
  docs/index.md
  scripts/generate-collection-guides.ts
Due: check, docs-package-name

feat(theme): add homepage components and search enhancements
  docs/.vitepress/theme/components/HeroActions.vue
  docs/.vitepress/theme/components/InstallSnippet.vue
  docs/.vitepress/theme/components/PluginSpotlight.vue
  docs/.vitepress/theme/data/methods.json
  docs/.vitepress/theme/data/search-index.json
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
Due: check

chore: format theme data files
  docs/.vitepress/theme/data/methods.json
  docs/.vitepress/theme/data/search-index.json
Due: check

feat(docs): migrate to Tailwind CSS v4
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/.vitepress/theme/styles/base.css
  docs/.vitepress/theme/styles/components.css
  docs/.vitepress/theme/styles/docs.css
  docs/.vitepress/theme/styles/index.css
  docs/.vitepress/theme/styles/laravel.css
  docs/.vitepress/theme/styles/tokens.css
  package.json
  pnpm-lock.yaml
Due: check

feat(docs): migrate Vue components to Tailwind utilities
  docs/.vitepress/theme/components/CallbackTaxDiagram.vue
  docs/.vitepress/theme/components/CopyAsMarkdown.vue
  docs/.vitepress/theme/components/HeroActions.vue
  docs/.vitepress/theme/components/InstallSnippet.vue
  docs/.vitepress/theme/components/LazySpotlight.vue
  docs/.vitepress/theme/components/SearchButton.vue
  docs/.vitepress/theme/components/StatCard.vue
  docs/.vitepress/theme/data/search-index.json
Due: check

feat(docs): migrate PluginSpotlight and SpeedupBar to Tailwind
  docs/.vitepress/theme/components/PluginSpotlight.vue
  docs/.vitepress/theme/components/SpeedupBar.vue
Due: none

fix(docs): correct StatCard responsive breakpoints
  docs/.vitepress/theme/components/StatCard.vue
Due: none

feat(docs): migrate FastSearch to Tailwind utilities
  docs/.vitepress/theme/components/FastSearch.vue
Due: none
